<!doctype html>
<html lang="en">
   <head>
      <title>ACP Controle Times</title>
      <meta charset="utf-8">
      <!-- 'viewport' is used by bootstrap to respond to device size -->
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
      <!-- Bootstrap includes javascript and css  (must follow jquery) -->
      <link
         rel="stylesheet"
         href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
         integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l"
         crossorigin="anonymous">
      <!-- Javascript:  JQuery from a content distribution network (CDN) -->
      <script
         src="https://code.jquery.com/jquery-3.5.1.min.js"
         integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0="
         crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
         integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
         crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.min.js"
         integrity="sha384-+YQ4JLhjyBLPDQt//I+STsc9iw4uQqACwlvpslubQzn4u2UU2UFM80nGisd026JF"
         crossorigin="anonymous"></script>
      <!-- moment.js is the JavaScript equivalent of arrow.py -->
      <script
      src="{{ url_for('static', filename="js/moment.min.js") }}"></script>
   </head>
   <!-- Our own stylesheet -->
   <link rel="stylesheet" href="/static/css/calc.css" />
   <body>
      <div class="container">
         <h1>ACP Brevet Times</h1>
         <p>This worksheet is for ACP-sanctioned brevets between 200 and 1000 kilometers.</p>
         <!--
            If there are any warnings or other messages from a prior
            request to the server,
            they appear above the rest of the content, just until the next
            action.  (This is only on request/response transactions that
            result in regenerating the page, not on every request.)
            -->
         {% with messages = get_flashed_messages() %}
         {% if messages %}
         <ul class="flashes">
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
         </ul>
         {% endif %}
         {% endwith %}
         <!-- Design on bootstrap grid -->
         <form role="form">
            <div class="row">
               <div class="col-md-4">
                  <label>Distance</label>
                  <select name="distance" id="brevet_dist_km">
                     <option value="200">200km</option>
                     <option value="300">300km</option>
                     <option value="400">400km</option>
                     <option value="600">600km</option>
                     <option value="1000">1000km</option>
                  </select>
               </div>
               <!-- columns 1 to 4  -->
               <div class="col-md-6">
                  <label>Begins at</label>
                  <input type="datetime-local" name="begin_date" id="begin_date" value="2021-01-01T00:00" />
                  <button id="fetch">Display</button>
                  <button id="insert">Submit</button>
               </div>
               <!-- columns 5 to 10 -->
            </div>
            <!-- row -->
            <br />  <!-- a little vertical space -->
            <!-- Although we do not use tables for general page layout, they are
               appropriate for something that really is a table, like this
               one.  We allocate it the full 12 columns of the bootstrap grid.
               -->
            <div class="row">
               <div class="col-md-12">
                  <table class="control_time_table">
                     <tr>
                        <th> Miles </th>
                        <th> Km </th>
                        <th>Location</th>
                        <th>Open</th>
                        <th>Close</th>
                        <th>Notes</th>
                     </tr>
                     {% for row in range(20) %}
                     <tr class="control">
                        <!-- Dist (mi) -->
                        <td><input name="miles" type="number" step="0.00001"
                           min="0" max="900" /></td>
                        <!-- Dist (km) -->
                        <td><input name="km" type="number" step="0.00001"
                           min="0" max="1100" /> </td>
                        <!-- Location (optional) -->
                        <td><input name="location" type="text"
                           placeholder="Optional location name"
                           size="20" /> </td>
                        <!-- Open time (read only, set by JavaScript function -->
                        <td><input name="open" type="datetime-local" readonly value="" /></td>
                        <!-- Close time (read only, set by JavaScript function -->
                        <td><input name="close" type="datetime-local" readonly value="" /></td>
                        <!-- Notes (error messages for this row) -->
                        <td class="notes"> &nbsp; </td>
                     </tr>
                     {% endfor %}
                  </table>
               </div>
               <!-- col -->
            </div>
            <!-- row -->
            <div>
               
            </div>
         </form>
         <script type="text/javascript">
            var SCRIPT_ROOT = {{ request.script_root|tojson|safe }} ;
            var TIME_CALC_URL = SCRIPT_ROOT + "/_calc_times";
            var FETCH_URL = SCRIPT_ROOT + "/_fetch";
            var INSERT_URL = SCRIPT_ROOT + "/_insert";

            function calc_times(control) {
              var km = control.find("input[name='km']").val();
              var open_time_field = control.find("input[name='open']");
              var close_time_field = control.find("input[name='close']");
              var brev = $("#brevet_dist_km").val();
              var bd = $("#begin_date").val();

              $.getJSON(TIME_CALC_URL, {km: km, brev: brev, bd: bd}).done(
                function(data) {
                   console.log(open_time_field.val())
                   var times = data.result;
                   console.log("Got a response: ");
                   console.log("Response.open = " + times.open);
                   // This part will automatically fill the open and close slots,
                   // so don't worry about those.
                   open_time_field.val(moment(times.open).format("YYYY-MM-DDTHH:mm"));
                   close_time_field.val(moment(times.close).format("YYYY-MM-DDTHH:mm"));
                 }
               ).fail(function(err){
                 // In case you get an error...
                 console.log("Error!");
                 console.log(err);
               });
            }

            $(document).ready(function(){
             // Do the following when the page is finished loading
               
                // Get necessary attributes to load data into/save data from
                var km = document.querySelectorAll('input[name="km"]');
                var mi = document.querySelectorAll('input[name="miles"]');
                var open_time_field = document.querySelectorAll("input[name='open']")
                var close_time_field = document.querySelectorAll("input[name='close']")

                $('#fetch').click(
                   function(event) {
                     event.preventDefault(); // Prevent page from refreshing
                     console.log("Fetching Data")
                     // Simply send a JSON GET request to the server, flask_prevets.py which will
                     // send back the data as a JSON file where we can update the checkpoint information
                     // A for loop is used to get the JSON information for all 20 checkpoints
                     $.getJSON(FETCH_URL, {}).done(
                        function(data) {
                           if (data.err) { // Responds if data is empty
                              console.log(data.err);
                           }
                           else {
                              // First wipe the page (specifically the cp info)
                              for (let i = 0; i < 20; i++) {
                                 open_time_field[i].value = ""
                                 close_time_field[i].value = ""
                                 km[i].value = ""
                                 mi[i].value = ""
                              }
                              
                              // data.result: 
                              // {'brevet': '', 'start_time': '', 'cp_data': {'cp': [], 'ot': [], 'ct': [], 'cp_dist': []}}
                              console.log(data.result)

                              var cps = data.result.cp_data["cp"] // Checkpoints
                              var ots = data.result.cp_data["ot"] // Open times
                              var cts = data.result.cp_data["ct"] // Close times
                              var cp_dist  = data.result.cp_data["cp_dist"] // km (distance)
                              
                              var len = cps.length; // Get number of checkpoints saved
                              
                              // Load Brevet info
                              for (let i = 0; i < len; i++) {
                                 open_time_field[cps[i]].value = moment(ots[i]).format("YYYY-MM-DDTHH:mm");
                                 close_time_field[cps[i]].value = moment(cts[i]).format("YYYY-MM-DDTHH:mm");
                                 km[cps[i]].value = cp_dist[i];
                                 mi[cps[i]].value = (0.621371 * km[cps[i]].value).toFixed(6);
                              }
                              $("#begin_date").val(moment(data.result.start_time).format("YYYY-MM-DDTHH:mm"))
                              $("#brevet_dist_km").val(data.result.brevet);
                              console.log("Data fetched!")  
                           }              
                         }
                       ).fail(function(err){
                         // In case you get an error...
                         console.log("Error!");
                         console.log(err);
                       });
                   });  
                
                $('#insert').click(
                   function(event) {
                     event.preventDefault(); // Prevent the page from refreshing
                     console.log("Converting Data")
                     
                     // Need to convert the fields to readable values
                     // Only need to save km (and not miles) since we can just convert km to miles when loading
                     var kmArray = [];
                     var otfArray = [];
                     var ctfArray = [];
                     var cpvals = [];
                     var start_date = $("#begin_date").val();
                     var brevet_distance = $("#brevet_dist_km").val();
                     
                     var items = [];
                     var count = 0;

                     for (let i = 0; i < 20; i++) {
                        if (km[i].value != '') {
                           cpvals[count++] = i;
                           kmArray.push(km[i].value);
                           otfArray.push(open_time_field[i].value);
                           ctfArray.push(close_time_field[i].value);
                        }
                     }

                     items_json = {
                        "cp": cpvals,
                        "ot": otfArray,
                        "ct": ctfArray,
                        "cp_dist": kmArray,
                     }


                     var data_to_send = {brevet_distance: brevet_distance, start_date: start_date, items: items_json}
                     // {'brevet_distance': '', 'start_time': '', 'cp_dist': {'cp': [], 'ot': [], 'ct': [], 'cp_dist': []}}
                     console.log("Inserting Data")

                     $.ajax({
                        dataType: 'json',
                        contentType: "application/json",
                        type: 'POST',
                        url: INSERT_URL,
                        data: JSON.stringify(data_to_send),
                        success: function(data) {
                           if (data.status == 1) {
                              console.log("Successfuly Saved! Response: ", data);
                              
                              for (let i = 0; i < 20; i++) {
                                 open_time_field[i].value = "";
                                 close_time_field[i].value = "";
                                 km[i].value = ""
                                 mi[i].value = ""
                              }

                              $("#begin_date").val("2021-01-01T00:00")
                              $("#brevet_dist_km").val("200");

                           }
                           else {
                              console.log("Insertion failed: ", data);
                           }
                        },
                        error: function(err) {
                           console.log("Error: ", err); }
                     });
                   });

                $('input[name="miles"]').change(
                   function() {
                       var miles = parseFloat($(this).val());
                       var km = (1.609344 * miles).toFixed(6) ;
                       console.log("Converted " + miles + " miles to " + km + " kilometers");
                       var control_entry = $(this).parents(".control")
                       var target = control_entry.find("input[name='km']");
                       target.val( km );
                       // Then calculate times for this entry
                       calc_times(control_entry);
                    });

                $('input[name="km"]').change(
                   function() {
                       var km = parseFloat($(this).val());
                       var miles = (0.621371 * km).toFixed(6) ;
                       console.log("Converted " + km + " km to " + miles + " miles");
                       var control_entry = $(this).parents(".control")
                       var target = control_entry.find("input[name='miles']");
                       target.val( miles );
                       // Then calculate times for this entry
                       calc_times(control_entry);
                    });

               });

         </script>
      </div>
   </body>
</html>
